body {
    min-height: 100vh;
    font-family: 'Audiowide', cursive;
}

main {
    min-height: 100%;
}

:root {
    --red: #ff0000;
    --bluenight: rgba(2, 8, 92, 0.884);
  }


.bg {
    background-image: url('images/moon.svg');
    background-size: cover; 
    background-repeat: no-repeat;
}

.sectionHeight {
    height: 500px;
   
}

span {
    color: var(--red);
}


.logo {
    height: 100px;
    
}
.container{

    margin-top: 200px;
    margin-bottom: 175px;
    padding: 20px 50px;
    transform: skewY(-2deg);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--red), 0 0 30px var(--red), inset 0 0 10px var(--red), inset 0 0 30px var(--red);
    border: 8px solid #fff;
    animation: animate .7s alternate-reverse infinite;
    width: 50%;
    font-family: 'Audiowide', cursive;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.box {
    position: relative;
    width: 400px;
    height: 500px;
    background: rgba(21, 5, 34, 0.87);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box::before,
.box::after
{
    content: '';
    position: absolute;
    background: linear-gradient(315deg, #6f00ff, #d40000);
    inset: -80px 100px;
    transition: 0.5s;
    animation: animate2 8s linear infinite;
}

.box::after {
    background: linear-gradient(315deg, #6f00ff, #e91e63);
    animation-delay: -2s;
}

.box:hover::before,
.box:hover::after
{ 
    animation-play-state: paused;
    inset: -80px 80px;
}

@keyframes animate2 {
    0% 
    {
        transform: rotate(0deg);
    }
    100% 
    {
        transform: rotate(360deg);
    }
}

.box i {
    position: absolute;
    inset: 3px;
    background: #0e1538;
    z-index: 1;
}

.box .content {
    position: absolute;
    inset: 20px;
    background: #0d122c;
    border: 3px solid #000000;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-size: cover;
}

.box .content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
 
}

.box:hover .content img {
    opacity: 0;
}

.box .content h3 {
    position: relative;
    z-index: 2;
    font-size: 1.25em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.25em;
    text-transform: uppercase;
}

.box .content h3 span {
    font-weight: 300;
    font-size: 0.75em;
}

.box .content a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #ff0000;
    border-radius: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;

}

.box .content a:hover {
    letter-spacing: 0.2em;
}

h1,h2 {
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    text-shadow: 0 0 10px var(--red), 0 0 20px var(--red), 0 0 60px var(--red), 0 0 100px var(--red);
    letter-spacing: 7px;
}

h1 span, h2 span {
    animation: animate 1s linear infinite;
}

h1 span,h2 span:nth-child(1) {
    animation-delay: .1s;
}
h1 span, h2 span:nth-child(2) {
    animation-delay: .5s;
}
h1 span, h2 span:nth-child(3) {
    animation-delay: .1s;
}
h1 span, h2 span:nth-child(4) {
    animation-delay: .2s;
}
h1 span, h2 span:nth-child(5) {
    animation-delay: .1s;
}
h1 span, h2 span:nth-child(6) {
    animation-delay: .1s;
}
h1 span, h2 span:nth-child(7) {
    animation-delay: .69s;
}
h1 span, h2 span:nth-child(8) {
    animation-delay: .1s;
}
h1 span, h2 span:nth-child(9) {
    animation-delay: .1s;
}
h1 span, h2 span:nth-child(10) {
    animation-delay: .12s;
}
h1 span, h2 span:nth-child(11) {
    animation-delay: .1s;
}
h1 span, h2 span:nth-child(12) {
    animation-delay: .22s;
}
@keyframes animate
{
0%
{
    opacity: 1;
}
30%
{
    opacity: 1;
}
40%
{
    opacity: .6;
}
50%
{
    opacity: 1;
}
100%
{
    opacity: 1;
}

}